<main>
    <aside>
        <div class="navi">
            <ul>
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
               <a href="#"><i class="fa fa-tasks" aria-hidden="true"></i>Workflow</a>
                <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>Statistics</a>
                <a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Setting</a>
            </ul>
        </div>
    
    </aside>
    <section>
      <p>A dashboard is a type of graphical user interface which often provides at-a-glance views of key performance indicators (KPIs) relevant to a particular objective or business process. In other usage, "dashboard" is another name for "progress report" or "report" and considered a form of data visualization.

        The “dashboard” is often accessible by a web browser and is usually linked to regularly updating data sources.
        
        Well known dashboards include Google Analytics dashboards, used on 55% of all websites,[1] which show activity on a website; such as visits, entry pages, bounce rate and traffic sources.
        
        The COVID-19 pandemic of 2020 brought other dashboards to the fore, with the Johns Hopkins coronavirus tracker[2] and the UK government coronavirus tracker[3] being good examples.
        
        The term dashboard originates from the automobile dashboard where drivers monitor the major functions at a glance via the instrument panel.</p>
    <p>Digital dashboards allow managers to monitor the contribution of the various departments in their organization. In addition they enable “rolling up” of information to present a consolidated view across an organisation. To gauge exactly how well an organization is performing overall, digital dashboards allow you to capture and report specific data points from each department within the organization, thus providing a "snapshot" of performance.

        Benefits of using digital dashboards include:[4]
        
        Visual presentation of performance measures
        Ability to identify and correct negative trends
        Measure efficiencies/inefficiencies
        Ability to generate detailed reports showing new trends
        Ability to make more informed decisions based on collected business intelligence
        Align strategies and organizational goals
        Saves time compared to running multiple reports
        Gain total visibility of all systems instantly
        Quick identification of data outliers and correlations
        Consolidated reporting into one location
        Available on mobile devices to quickly access metrics</p>
    <p>Dashboards can be broken down according to role and are either strategic, analytical, operational, or informational.[5] Dashboards are the 3rd step on the information ladder, demonstrating the conversion of data to increasingly valuable insights.[6]

        Strategic dashboards support managers at any level in an organization, and provide the quick overview that decision makers need to monitor the health and opportunities of the business. Dashboards of this type focus on high level measures of performance, and forecasts. Strategic dashboards benefit from static snapshots of data (daily, weekly, monthly, and quarterly) that are not constantly changing from one moment to the next.
        
        Dashboards for analytical purposes often include more context, comparisons, and history, along with subtler performance evaluators. Analytical dashboards typically support interactions with the data, such as drilling down into the underlying details. Dashboards for monitoring operations are often designed differently from those that support strategic decision making or data analysis and often require monitoring of activities and events that are constantly changing and might require attention and response at a moment's notice.</p>
    </section>
   
</main>

