
header{
    display:flex;
    background-color: #e1eedd;
   
}
nav{
    flex:80%;
    display:flex;
    justify-content: center;
    
}
footer {
    background-color: #e1eedd;
    text-align: center;
    
  }
  div{
      padding: 20px;
      
  }
